define host {
  use   linux-server
  host_name  {{ musafelli_loragw_hostname }}
  alias     LoRa Gateway TTN in Musafelli
  address {{ musafelli_loragw_ip }}
  max_check_attempts 5
  parents p2p-musafelli-research
}


define service{
        use                             generic-service
        host_name                       {{ musafelli_loragw_hostname }}
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }
